html, body {
    height: 100%;
}

.ui-content {
    padding: 0px;
}

.about-content, .orientation-error {
    overflow-y: auto;
    max-height: 400px;
    padding-top: 0 !important;
}

div.waterview .ui-icon {
    top: 3px;
    position: absolute;
    left: 45%;
}

div.waterview .ui-btn-text {
    margin-left: 100px;
    color: #666;
    position: absolute;
    left: -8%;
    top: 3px;
}

.ui-overlay {
    filter: Alpha(Opacity=85);
    opacity: .85;
    z-index: 999;
}

img.helptext {
    position: absolute;
    z-index: 999;
    width: 200px;
    height: auto;
}

div#about a.ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.gallery div.ui-content {
    padding: 0;
}

.pageview {
    margin-top: 0px;
}

.pageview img.inset {
    position: absolute;
    height: auto;
    width: 350px;
    z-index: 998;
}

img.helptext.dismiss {
    top: 30%;
    left: 40%;
}
    
.glacierview.portrait {
    background: url(/media/img/glacier/background_portrait.png) no-repeat;
}

.glacierview.landscape {
    background: url(/media/img/glacier/background.png) no-repeat;
}

.waterview.portrait {
    background: url(/media/img/water/background_portrait.jpg) no-repeat;
}

.waterview.landscape {    
    background: url(/media/img/water/background_landscape.jpg) no-repeat;        
}

.glacierview img.glacier {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 10px;
    display: none;
}

.glacierview img.water {
    position: absolute;
    overflow: hidden;
}

.glacierview.portrait img.water {
    top: 80.5%;
}

.glacierview.landscape img.water {
    top: 77.5%;    
}

.glacierview canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.waterview div.ui-slider-vertical {
    zoom: 1;
    width: 100%;
    position: absolute;
}

/** iPhone 3.5"
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
    div.ui-content.landscape {
        height: 276px;
    }
    
    .pageview.landscape {
        width: 568px;
        height: 276px;
        background-size: 568px 276px;
    }
    
    div.ui-content.portrait {
        height: 504px;
    }
    
    .pageview.portrait {
        width: 320px;
        height: 504px;
        background-size: 320px 504px;
    }    
        
    .glacierview.portrait {
        background-position: 0 -100px;
    }

    .glacierview.landscape {
        background-position: 0 0;
    }
          
    .glacierview.portrait img.glacier {
        top: 325px;
        height: 120px;
        width: 320px;
    }
    
    .glacierview.portrait img.water {
        width: 319px;
        height: 200px;
    }
    
    .glacierview.landscape img.glacier {
        top: 60px;
        height: 213px;
        width: 568px;        
    }
    
    .glacierview.landscape img.water {
        width: 567px; 
    }
}
**/

/* iPhone 4" */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    img.helptext {
        position: absolute;
        z-index: 999;
        width: 120px;
    }
    
    div.ui-content.landscape {
        height: 276px;
    }
    
    .isostaticrebound div.ui-content.landscape {
        height: 660px;
    }
    
    .pageview.landscape {
        width: 568px;
        height: 276px;
        background-size: 568px 276px;
    }
    
    div.ui-content.portrait {
        height: 504px;
    }
    
    .pageview.portrait {
        width: 320px;
        height: 504px;
        background-size: 320px 494px;
    }    
      
    .pageview img.inset {
        width: 175px;
    }
    
    img.helptext.macromap {
        top: 5px;
        left: 25px;
    }
    
    .glacierview.landscape img.helptext.pageview {
        top: 100px;
        left: 435px;
    }        

    .glacierview.portrait img.helptext.pageview {
        top: 300px;
        left: 200px;
    }        
    
    .waterview.landscape img.helptext.pageview {
        top: 100px;
        left: 435px;
     }      
    
    .waterview.portrait img.helptext.pageview {
        top: 300px;
        left: 200px;
    }
    
    .glacierview.portrait {
        background-position: 0 0px;
    }

    .glacierview.landscape {
        background-position: 0 0;
    }
          
    .glacierview.portrait img.glacier {
        top: 325px;
        height: 120px;
        width: 320px;
    }
    
    .glacierview.portrait img.water {
        width: 319px;
        height: 200px;
    }
    
    .glacierview.landscape img.glacier {
        top: 78px;
        height: 190px;
        width: 568px;        
    }
    
    .glacierview.landscape img.water {
        width: 567px; 
    }
    
    .waterview.portrait {
        background-image: url(/media/img/water/iphone_background_portrait.jpg);
    }
    
    .waterview.landscape {
        background-image: url(/media/img/water/iphone_background_landscape.jpg);
    }
    
    .waterview.landscape div.ui-slider-vertical {
        top: 189px;
        height: 120px;
        width: 568px;
    }
    
    .waterview.portrait div.ui-slider-vertical {
        top: 342px;
        height: 204px;
        width: 320px;
    }
}

/* iPad  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    div.ui-content.landscape {
        height: 660px;
    }
    
    .pageview.landscape {
        width: 1024px;
        height: 660px;
        background-size: 1024px 660px;
    }   

    div.ui-content.portrait {
        height: 960px;
    }
    
    .pageview.portrait {
        width: 768px;
        height: 960px;
        background-size: 768px 960px;
    }

    .pageview img.inset {
        width: 400px;
    }
    
    .glacierview img.helptext.macromap {
        top: 50px;
        left: 63px;
    }
    
    .glacierview.landscape img.helptext.pageview {
        top: 373px;
        left: 800px;
    }        

    .glacierview.portrait img.helptext.pageview {
        top: 525px;
        left: 525px;
    }        
    
    .waterview img.helptext.macromap {
        top: 50px;
        left: 100px;
    }
    
    .waterview.landscape img.helptext.pageview {
        top: 430px;
        left: 800px;    
     }      
    
    .waterview.portrait img.helptext.pageview {
        top: 685px;
        left: 550px;    
    }      
    
    .glacierview.portrait img.glacier {
        top: 545px;
        height: 288px;
        width: 768px;
    }
    
    .glacierview.portrait img.water {
        width: 767px;        
    }
    
    .glacierview.landscape img.glacier {
        top: 225px;
        height: 384px;
        width: 1024px;   
    }
    
    .glacierview.landscape img.water {
        width: 1024px;        
    }
    
    .waterview.landscape div.ui-slider-vertical {
        top: 504px;
        height: 250px;
        width: 1024px;
    }
    
    .waterview.portrait div.ui-slider-vertical {
        top: 754px;
        height: 255px;
        width: 768px;
    }
}

/* Computer Screen */
@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 5000px) {   
    .ui-mobile .ui-page { 
        width: 1024px;
        height: 768px;
        overflow: hidden;
    }

    .pageview {
        width: 1024px;
        height: 768px;
        background-size: 1024px 741px !important;
    }
    
    .glacierview img.helptext.macromap {
        top: 14px;
        left: 63px;
    }
    
    .glacierview img.helptext.pageview {
        top: 373px;
        left: 800px;
    }

    .waterview img.helptext.macromap {
        top: 14px;
        left: 41px;
    }
    
    .waterview img.helptext.pageview {
        top: 457px;
        left: 800px;
    }        
    
    .glacierview img.glacier {
        top: 244px;
        width: 1024px;
        height: 384px;        
    }
    
    .glacierview img.water {
        width: 1024px;
    }
    
    .waterview div.ui-slider-vertical {
        top: 527px;
        height: 255px;
        width: 1024px;
    }
}

/* Isostatic Rebound interactive */

.irview-padding {
    background: transparent url(/media/img/isostaticrebound/irview-padding.jpg);
    height: 20px;
    width: 1024px;
    margin: 0;
    padding: 0;
    border: 0;
}

.ir-loading {
    filter: Alpha(Opacity=100);
    opacity: 1;
    z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: #666 url(/media/jquery.mobile/images/ajax-loader.gif) center center no-repeat;
}

.device-orientation {
    margin: 30px auto 0 auto;
    width: 280px;
    height: 185px;
	background: transparent url(/media/img/isostaticrebound/device-orientation.png) center center no-repeat;
}