html, body {
    height: 100%;
}

.ui-content {
    padding: 0px;
}

div.waterview .ui-icon {
    top: 3px;
    position: absolute;
    left: 45%;
}

div.waterview .ui-btn-text {
    margin-left: 100px;
    color: #666;
    position: absolute;
    left: -8%;
    top: 3px;
}

.ui-overlay {
    filter: Alpha(Opacity=85);
    opacity: .85;
    z-index: 999;
}

img.helptext {
    position: absolute;
    z-index: 999;
    width: 200px;
    height: auto;
}

div#about a.ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.gallery div.ui-content {
    padding: 0;
}

.pageview {
    margin-top: 0px;
}

.pageview img.inset {
    position: absolute;
    height: auto;
    width: 350px;
    z-index: 998;
}

img.helptext.dismiss {
    top: 30%;
    left: 40%;
}
    
.glacierview.portrait {
    background: url(/site_media/img/glacier/background_portrait.png) no-repeat;    
}

.glacierview.landscape {
    background: url(/site_media/img/glacier/background.png) no-repeat;        
}

.waterview.portrait {
    background: url(/site_media/img/water/background_portrait.jpg) no-repeat;
}

.waterview.landscape {    
    background: url(/site_media/img/water/background_landscape.jpg) no-repeat;        
}

.glacierview img.glacier {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 10px;
}

.glacierview img.water {
    position: absolute;
    overflow: hidden;
}

.glacierview.portrait img.water {
    top: 80%;
}

.glacierview.landscape img.water {
    top: 78%;    
}

.waterview div.ui-slider-vertical {
    zoom: 1;
    width: 100%;
    position: absolute;
}

canvas.explosion {
    position: absolute;
    z-index: 998;
}

/* iPhone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {  
    .pageview.landscape {
        width: 568px;
        height: 275px;
        background-size: 568px 275px;
    }

    .pageview.portrait {
        width: 320px;
        height: 416px;
        background-size: 320px 416px;
    }
      
    .pageview img.inset {
        width: 175px;
    }
    
    .glacierview.portrait img.helptext.pageview {
        top: 225px;
        left: 100px;
    }        
    
    .waterview img.helptext.macromap {
        top: 103px;
        left: 41px;
    }
    
    .waterview.landscape img.helptext.pageview {
        top: 450px;
        left: 400px;
    }      
    
    .waterview.portrait img.helptext.pageview {
        top: 560px;
        left: 300px;
    }          
       
    .glacierview.portrait img.glacier {
        top: 259px;
    }
    
    .glacierview.portrait img.water {
        width: 319px;
    }
    
    .glacierview.landscape img.glacier {
        top: 50px;
    }
    
    .glacierview.landscape img.water {
        width: 567px; 
    }

    .waterview.landscape div.ui-slider-vertical {
        top: 100px;
        height: 75px;
        width: 568px;
    }
    
    .waterview.portrait div.ui-slider-vertical {
        top: 290px;
        height: 170px;
        width: 320px;
    }
}

/* iPad  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    div.ui-content.landscape {
        height: 704px;
    }
    
    .pageview.landscape {
        width: 1024px;
        height: 704px;
        background-size: 1024px 704px;
    }   

    div.ui-content.portrait {
        height: 960px;
    }
    
    .pageview.portrait {
        width: 768px;
        height: 960px;
        background-size: 768px 960px;
    }

    .pageview img.inset {
        width: 400px;
    }
    
    .glacierview img.helptext.macromap {
        top: 50px;
        left: 63px;
    }
    
    .glacierview.landscape img.helptext.pageview {
        top: 373px;
        left: 800px;
    }        

    .glacierview.portrait img.helptext.pageview {
        top: 525px;
        left: 525px;
    }        
    
    .waterview img.helptext.macromap {
        top: 50px;
        left: 100px;
    }
    
    .waterview.landscape img.helptext.pageview {
        top: 430px;
        left: 800px;    
     }      
    
    .waterview.portrait img.helptext.pageview {
        top: 685px;
        left: 550px;    
    }      
    
    .glacierview.portrait img.glacier {
        top: 545px;        
    }
    
    .glacierview.portrait img.water {
        width: 767px;        
    }
    
    .glacierview.portrait canvas.explosion {
        top: 620px;
        left: 40px;
    }
    
    .glacierview.landscape img.glacier {
        top: 225px;
    }
    
    .glacierview.landscape img.water {
        width: 1024px;        
    }
    
    .glacierview.landscape canvas.explosion {
        top: 375px;
        left: 93px;
    }
    
    .waterview.landscape div.ui-slider-vertical {
        top: 504px;
        height: 250px;
        width: 1024px;
    }
    
    .waterview.portrait div.ui-slider-vertical {
        top: 754px;
        height: 255px;
        width: 768px;
    }
}

/* Computer Screen */
@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 5000px) {   
    .ui-mobile .ui-page { 
        width: 1024px;
        height: 768px;
        overflow: hidden;
    }

    .pageview {
        width: 1024px;
        height: 768px;
        background-size: 1024px 741px !important;
    }
    
    .glacierview img.helptext.macromap {
        top: 14px;
        left: 63px;
    }
    
    .glacierview img.helptext.pageview {
        top: 373px;
        left: 800px;
    }

    .waterview img.helptext.macromap {
        top: 14px;
        left: 41px;
    }
    
    .waterview img.helptext.pageview {
        top: 457px;
        left: 800px;
    }        
    
    .glacierview img.glacier {
        top: 244px;
        width: 1024px;
    }
    
    .glacierview img.water {
        width: 1024px;
    }
    
    .glacierview canvas.explosion {
        top: 503px;
        left: -60px;
    }
    
    .waterview div.ui-slider-vertical {
        top: 527px;
        height: 255px;
        width: 1024px;
    }
}

