html, body {
    height: 100%;
}

.ui-content {
    padding: 0px;
}

.ui-mobile .ui-page { 
    width: 1024px;
}

div#about a.ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.gallery div.ui-content {
    padding: 0;
}

.pageview {
    margin-top: 0px;
}

.pageview img.inset {
    position: absolute;
    height: auto;
    width: 350px;
    z-index: 998;
}


.glacierview.portrait {
    background: url(/site_media/img/glacier/background_portrait.png) no-repeat;    
}

.glacierview.landscape {
    background: url(/site_media/img/glacier/background.png) no-repeat;        
}

.waterview.portrait {
    background: url(/site_media/img/water/background_portrait.png) no-repeat;
}

.waterview.landscape {    
    background: url(/site_media/img/water/background_landscape.png) no-repeat;        
}

.glacierview img.glacier {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 10px;
}


.glacierview img.water {
    position: absolute;
    overflow: hidden;
}

.glacierview.portrait img.water {
    top: 80.75%;
}

.glacierview.landscape img.water {
    top: 78%;    
}

.waterview div.ui-slider-vertical {
    zoom: 1;
    width: 100%;
    position: absolute;
}

/* iPhone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {  
    .pageview.landscape {
        width: 568px;
        height: 270px;
        background-size: 568px 270px;
    }

    .pageview.portrait {
        width: 320px;
        height: 416px;
        background-size: 320px 416px;
    }
      
    .pageview img.inset {
        width: 175px;
    }    
       
    .glacierview.portrait img.glacier {
        top: 269px;
    }
    
    .glacierview.portrait img.water {
        width: 319px;
    }
    
    .glacierview.landscape img.glacier {
        top: 70px;
    }
    
    .glacierview.landscape img.water {
        width: 567px; 
    }

    .waterview.landscape div.ui-slider-vertical {
        top: 100px;
        height: 75px;
        width: 568px;
    }
    
    .waterview.portrait div.ui-slider-vertical {
        top: 290px;
        height: 170px;
        width: 320px;
    }
    
}

/* iPad  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .pageview.landscape {
        width: 1024px;
        height: 627px;
        background-size: 1024px 627px;
    }   

    .pageview.portrait {
        width: 768px;
        height: 884px;
        background-size: 768px 884px;
    }

    .pageview img.inset {
        width: 400px;
    }
   
    .glacierview.portrait img.glacier {
        top: 505px;        
    }
    
    .glacierview.portrait img.water {
        width: 767px;        
    }
    
    .glacierview.landscape img.glacier {
        top: 185px;
    }
    
    .glacierview.landscape img.water {
        width: 1023px;        
    }
    
    .waterview.landscape div.ui-slider-vertical {
        top: 440px;
        height: 234px;
        width: 1024px;
    }
    
    .waterview.portrait div.ui-slider-vertical {
        top: 588px;
        height: 340px;
        width: 768px;
    }
}

/* Computer Screen */
@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 5000px) {   
    .pageview {
        width: 1024px;
        height: 768px;
        background-size: 1024px 768px !important;
    }
    
    .glacierview img.glacier {
        top: 290px;
        width: 1024px;
    }
    
    .glacierview img.water {
        width: 1023px;
    }
    
    .waterview div.ui-slider-vertical {
        top: 545px;
        height: 264px;
        width: 1024px;
    }
}

