{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="utf-8" />
    	<title>polarexplorer: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="polarexplorer">
        <meta name="author" content="CCNMTL">
        
        <!-- viewport -->
        <meta name="viewport" content="width=device-width">
        
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">
        
        <!-- For mobile browsers that do not recognize the viewport tag -->
        <meta name="MobileOptimized" content="320" />
        
        <link rel="stylesheet" href="/site_media/jquery.mobile/jquery.mobile-1.3.2.min.css" media="screen" />
        
        {% compress css %}
            <link href="/site_media/css/main.css" rel="stylesheet">
        {% endcompress %}
    	
        <link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
    	
        {% block css %}{% endblock %}
        
        <script src="/site_media/js/jquery-1.8.3.min.js"></script>
        <script src="/site_media/js/jquery-ui-1.9.1.custom.min.js"></script>
        <script src="/site_media/jquery.mobile/jquery.mobile-1.3.2.min.js"></script>
    
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div data-role="page">
            <header data-role="header">
                {% block header %}
                    <h1>Ubelly</h1>
                {% endblock %}
            </header>
    
            <div data-role="content">
                {% block content %}
                {% endblock %}
            </div>
    
            <footer data-role="footer" data-theme="b">
            </footer>
    
        </div>
    
        {% compress js %}{% endcompress %}
        
        {% block js %}{% endblock %}
        
        {% if STAGING_ENV %}
            <div class="alert alert-error" style="position: fixed; bottom: 0px;">
            <h4>Warning: Staging Site</h4>
            <p>You are viewing a staging version of this site, not the production site.</p>
            <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
            </div>
        {% endif %}
        
        {% if request.user.is_impersonate %}
            <div class="alert alert-error" style="position: fixed; left: 0px; top: 75px">
            You are impersonating.<br />
            <a class="btn" href="{% url impersonate-stop %}">stop</a>
            </div>
        {% endif %}
    </body>
</html>
