{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="utf-8" />
    	<title>Polar Explorer: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="description" content="Polar Explorer">
        <meta name="author" content="CCNMTL">
        
        {% block extrahead %}
        {% endblock %}
        
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">
        
        <!-- For mobile browsers that do not recognize the viewport tag -->
        <meta name="MobileOptimized" content="320" />
        
        <link rel="stylesheet" href="{{STATIC_URL}}jquery.mobile/jquery.mobile-1.3.2.min.css" media="screen" />
        
        {% compress css %}            
            {% block css %}
                <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">            
            {% endblock %}
        {% endcompress %}
    	
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
        <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
    </head>
    <body style="display: none">
        {% block content %}
        {% endblock %}
        
        <div id="about" data-role="dialog" data-url="about">
            <div data-role="header">
                <h1>About</h1>
            </div>            
            <div class="about-content" data-role="content">
                <h4 style="text-align: center">{% block about_title %}{% endblock %}</h4>
                {% block about_content %}
                    @todo Credits & Instructions
                {% endblock %}                
            </div>
        </div>
    
        <script src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
        <script src="{{STATIC_URL}}jquery.mobile/jquery.mobile-1.3.2.min.js"></script>
        <script src="{{STATIC_URL}}js/vslider.js"></script>
        
        {% block extrajs %}
        {% endblock %}

        {% compress js %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        <script type="text/javascript" src="{{STATIC_URL}}js/interactive.js"></script>
        {% endcompress %}

        {% block js %}{% endblock %}
        
        {% if STAGING_ENV %}
            <div class="alert alert-error" style="position: fixed; bottom: 0px;">
            <h4>Warning: Staging Site</h4>
            </div>
        {% endif %}
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-311226-46', 'columbia.edu');
          ga('send', 'pageview');
        </script>
    </body>
</html>
