{% extends "base.html" %}

{% block title %}
    Photo Gallery
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/site_media/photoswipe/photoswipe.css" media="screen" />
{% endblock %}

{% block content %}
    <div data-role="page" class="gallery">
        <div data-role="header" id="base-header">
            <a href="#about" data-role="button" data-rel="dialog" data-icon="info">About</a>
            <h1 id="header">Photo Gallery</h1>
        </div>
        <div data-role="content">        
            <div id="photogallery"></div>
        </div>
    </div>
{% endblock %}

{% block about_title %}
    {% ifequal section "antarctica" %}
        Antarctic Melt Area
    {% endifequal %}{% ifequal section "greenland_a" %}
        Greenland Melt Area
    {% endifequal %}{% ifequal section "greenland_b" %}
        Greenland Melt Area
    {% endifequal %}{% ifequal section "greenland_graph" %}
        Greenland Icesheet Melt Area
    {% endifequal %}
{% endblock %}

{% block about_content %}
    {% ifequal section "antarctica" %}
        Antarctic Melt Area About Content
    {% endifequal %}{% ifequal section "greenland_a" %}
        Greenland Melt Area About Content
    {% endifequal %}{% ifequal section "greenland_b" %}
        Greenland Melt Area About Content
    {% endifequal %}{% ifequal section "greenland_graph" %}
        Greenland Icesheet Melt Area About Content
    {% endifequal %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="/site_media/photoswipe/lib/klass.min.js"></script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/photoswipe/code.photoswipe-3.0.5.js"></script>
    <script type="text/javascript">
        (function(window, Util, PhotoSwipe) {
        
            Util.Events.domReady(function(e){
            
                var instance;
            
                instance = PhotoSwipe.attach(
                    [
                        {% for photo in photos %}
                            { url: '/site_media/img/{{section}}/{{photo.year}}{{photo.extension}}',
                              caption: 
                                  {% ifequal section "antarctica" %}
                                      'Antarctic Melt Area {{photo.year}} - {{photo.year|add:"1"}}' 
                                  {% endifequal %}{% ifequal section "greenland_a" %}
                                      'Greenland Melt Area {{photo.year}}'
                                  {% endifequal %}{% ifequal section "greenland_b" %}
                                      'Greenland Melt Area {{photo.year}}'
                                  {% endifequal %}{% ifequal section "greenland_graph" %}
                                      'Greenland Icesheet Melt Area'
                                  {% endifequal %}
                            }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    {
                        target: window.document.querySelectorAll('#photogallery')[0],
                        preventHide: true,
                        slideSpeed: 0,
                        slideshowDelay: 400,
                        captionAndToolbarAutoHideDelay: 0,
                        captionAndToolbarFlipPosition: true,
                        getImageSource: function(obj){
                            return obj.url;
                        },
                        getImageCaption: function(obj){
                            return obj.caption;
                        }
                    }
                );
                instance.show(0);
                jQuery(window).trigger("resize");
            });
        }(window, window.Code.Util, window.Code.PhotoSwipe));
    
        window.onresize=function() {
            var height = window.innerHeight - 
               jQuery("div.ui-header").height();
            jQuery("#photogallery").css("height", height + "px");     
            if (window.Code.PhotoSwipe.activeInstances.length > 0) {
                window.Code.PhotoSwipe.activeInstances[0].instance.carousel.resetPosition();
            }
        };
        
        jQuery(document).on("pageinit", function (event) {
            jQuery("#reset").click(function() {
                jQuery("#water").attr("value", defaultWaterLevel);
                jQuery("#water").trigger("change");
            });
        });        
    </script>
{% endblock %}


