{% extends "base.html" %}

{% block title %}
    Calving Glacier
{% endblock %}


{% block content %}
    <div data-role="page" class="glacier">
        <div data-role="header" id="base-header">
            <a href="#about" data-role="button" data-rel="dialog" data-icon="info">About</a>
            <h1 id="header">Calving Glacier</h1>
            <a id="reset" href="#" data-role="button" data-icon="refresh">Reset</a>
        </div>

        <div data-role="content">
            <div class="ui-grid-solo">
                <div class="ui-block-a macroview" style="text-align: center;">
                    Macroview
                </div>
            </div><!-- /grid-b -->
            <div class="ui-grid-solo">
                <div class="ui-block-a microview">
                    Microview
                </div>
            </div>
        </div>
        
        <div data-role="footer"></div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        jQuery(document).on("pageinit", function (event) {
            jQuery(".sadowl").swipeleft(function() {
                jQuery("#header").html("swipe left");
                jQuery(".sadowl").animate({left: 50}, 200, function() {
                    jQuery(".sadowl").css({left: 50});
                });
            });
            jQuery("#reset").click(function() {
                jQuery("#water").attr("value", defaultWaterLevel);
                jQuery("#water").trigger("change");
            });
        });
    </script>
{% endblock %}

