{% extends "base.html" %}

{% block title %}
    Polar Explorer Interactives
{% endblock %}

{% block content %}
   <div data-role="page" data-url="portrait" id="portrait">
        <div data-role="header" id="base-header">
            <a href="#about" data-role="button" data-rel="dialog" data-icon="info">About</a>
            <h1 id="header">Polar Explorer Interactives</h1>
        </div>

        <div data-role="content">
            <ul data-role="listview" data-inset="true">
                <li><a href="/water/" data-ajax="false">Rising Water Levels</a></li>
                <li><a href="/glacier/" data-ajax="false">Calving Glacier</a></li>
                <li><a href="/gallery/" data-ajax="false">Image Gallery</a></li>
            </ul>
        </div>
        
        <div data-role="footer"></div>
    </div>
{% endblock %}
