{% extends "base.html" %}

{% block title %}
    Polar Explorer Interactives
{% endblock %}

{% block content %}
   <div data-role="page" data-url="portrait" id="portrait">
        <div data-role="header" id="base-header">
            <a href="#about" data-role="button" data-rel="dialog" data-icon="info">About</a>
            <h1 id="header">Polar Explorer Interactives</h1>
        </div>

        <div data-role="content">
            <ul data-role="listview" data-inset="true">
                <li><a href="/test/" data-ajax="false">Test</a></li>
                <li><a href="/test2/" data-ajax="false">Test 2</a></li>
                <li><a href="/water/" data-ajax="false">Rising Water Levels</a></li>
                <li><a href="/glacier/" data-ajax="false">Calving Glacier</a></li>
                <li><a href="/gallery/antarctica/" data-ajax="false">Antartica</a></li>
                <li><a href="/gallery/greenland_a/" data-ajax="false">Greenland A (GreenlandMeltDays_png)</a></li>
                <li><a href="/gallery/greenland_b/" data-ajax="false">Greenland B (GreenlandMeltingDotComTrimmed_jpg)</a></li>
                <li><a href="/gallery/greenland_graph/" data-ajax="false">Greenland Melting Graph</a></li>
            </ul>
        </div>
        
        <div data-role="footer"></div>
    </div>
{% endblock %}
