{% extends "base.html" %}

{% block title %}
    Calving Glacier
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
    </script>
    <style>
        #test {
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
        
        div#arctic {
            width: 100%;
            height: 100%; 
            background: #ffffff url('/site_media/img/glacier/1.png') no-repeat 0% 0%;
            background-size: contain;
        }
        
        div#explosion {
            background: url('/site_media/img/icebergs/explode.png') 0 0 no-repeat;
            width: 250px;
            height: 250px;
            text-indent:-3000px;
            display:block; 
            z-index:2; 
        }
        div#explosion span { 
            float:left;
            display:block;
            background-image: url('/site_media/img/icebergs/explode.png'); 
            background-repeat:no-repeat;
        }
        .clear { clear:both; }
        
        img.iceberg {
            position: absolute;
            width: 679px;
            height: 505px;
            left: 62px;
            top: 99px;
        }
    </style>
{% endblock %}


{% block content %}
    <div data-role="page">
        <div data-role="content">
            <div class="ui-grid-solo">
                <div class="ui-block-a pageview">
                    <div id="explosion">
                    </div>                    
                    <div id="arctic">
                        <img class="iceberg active" src="/site_media/img/icebergs/1.png" alt="iceberg" data-id="1" />
                        <img class="iceberg" src="/site_media/img/icebergs/2.png" alt="iceberg" data-id="2" style="display: none; opacity: 0;"/>
                        <img class="iceberg" src="/site_media/img/icebergs/3.png" alt="iceberg" data-id="3" style="display: none; opacity: 0;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/site_media/js/cssanimation.js"></script>
    <script type="text/javascript" src="/site_media/js/cssanimation.jquery.js"></script>

    <script type="text/javascript">
    Number.random = function(min, max){
        return Math.floor(Math.random() * (max - min + 1) + min);
    };

    var zeros = {x:0, y:0, z:0};

    jQuery.extend(jQuery.fn, {

        scatter: function(){
            return this.translate({
                x: Number.random(-1000, 1000),
                y: Number.random(-1000, 1000),
                z: Number.random(-500, 500)
            }).rotate({
                x: Number.random(-720, 720),
                y: Number.random(-720, 720),
                z: Number.random(-720, 720)
            });
        },

        unscatter: function(){ 
            //return this.animate({'opacity': 0}, 400);
        },

        frighten: function(d){
            var self = this;
            this.setTransition('timing-function', 'ease-out').scatter();
            setTimeout(function(){
                self.setTransition('timing-function', 'ease-in-out').unscatter();
            }, 500);
            return this;
        },

        fromChaos: (function(){
            var delay = 0;
            return function(){
                return this.each(function(){
                    var element = $(this);
                    //element.scatter();
                    setTimeout(function(){
                        element.setTransition({
                            property: 'transform',
                            duration: '500ms',
                            'timing-function': 'ease-out'
                        });
                        setTimeout(function(){
                            element.unscatter();
                            element.on({
                                explode: jQuery.proxy(element.frighten, element)
                            });
                        }, delay += 100);
                    }, 1000);
                })
            }
        }())

    });
    
        jQuery(document).on("pageinit", function (event) {
            jQuery('img.iceberg').on('dragstart', function(event) { event.preventDefault(); });
            
            var cols = 10; // Desired columns
            var rows = 10; // Desired rows
            var totalWidth = 250; // Logo width
            var totalHeight = 250; // Logo height
            var singleWidth = Math.ceil(totalWidth / cols); // Shard width
            var singleHeight = Math.ceil(totalHeight / rows); // Shard height
            
            // Get the proper CSS prefix
            var cssPrefix = false;
            if(jQuery.browser.webkit) {
                cssPrefix = "webkit";
            }
            else if(jQuery.browser.mozilla) {
                cssPrefix = "moz";
            }
            
            var elt = jQuery("#explosion");
            
            // For every desired row
            for(x = 0; x < rows; x++) {
                var last;
                //For every desired column
                for(y = 0; y < cols; y++) {
                    // Create a SPAN element with the proper CSS settings
                    // Width, height, browser-specific CSS
                    last = jQuery("<span />").attr("class", "debris").attr("style","width:" + (singleWidth) + "px;height:" + (singleHeight) + "px;background-position:-" + (singleHeight * y) + "px -" + (singleWidth * x) + "px;-" + cssPrefix + "-transition-property: -" + cssPrefix + "-transform; -" + cssPrefix + "-transition-duration: 200ms; -" + cssPrefix + "-transition-timing-function: ease-out; -" + cssPrefix + "-transform: translateX(0%) translateY(0%) translateZ(0px) rotateX(0deg) rotateY(0deg) rotate(0deg);");
                    // Insert into DOM
                    elt.append(last);
                }
                // Create a DIV clear for row
                last.append(jQuery("<div />").addClass("clear"));
            }
            
            // Chaos!
            jQuery("#explosion span").fromChaos();
            
            jQuery("img.active").swipeleft(function(event) {
                event.stopImmediatePropagation();
                var elt = this;
                var left = jQuery(this).position().left;
                var top = jQuery(this).position().top;
                jQuery("img[data-id='2']").show();
                jQuery()
                jQuery(elt).animate({"left": (left - 20) + "px",
                                      "top": (top + 10) + "px",
                                      "opacity": 0},
                                      1000,
                                      "easeInSine",
                                      function() {
                                          jQuery(elt).hide();
                                          jQuery(elt).removeClass("active");
                                      });
                jQuery("img[data-id='2']").animate({"left": (left - 20) + "px",
                                                    "top": (top + 10) + "px",
                                                    "opacity": 1},
                                                    1000,
                                                    function() {
                                                        jQuery(elt).addClass("active");
                                                    });
                
                jQuery("#explosion span").trigger("explode");
                return false;
            });

            jQuery(".active").swiperight(function(event) {
                event.stopImmediatePropagation();
                
                var left = jQuery(this).position().left;
                var top = jQuery(this).position().top;
                jQuery(this).animate({"left": (left + 20) + "px",
                                      "top": (top - 10) + "px"},
                                      400,
                                      "easeInSine",
                                      function() {
                                      });
                console.log("swipe");
                return false;
            });

            window.onresize=function() {
                var height = window.innerHeight - 
                   (jQuery("div.ui-header").height() + 45);
                jQuery(".pageview").css("height", height + "px");
            };
            
            jQuery(window).trigger("resize");            
        });
    </script>
{% endblock %}

