{% extends "base.html" %}

{% block title %}
    Rising water levels
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="/site_media/css/vslider.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <script type="text/javascript">
        gImageCount = 5;
        /* Preload Images */
    </script>
{% endblock %}


{% block content %}
    <div data-role="page" class="water">
        <div data-role="header" id="base-header">
            <a href="#about" data-role="button" data-rel="dialog" data-icon="info">About</a>
            <h1 id="header">Rising Water Levels</h1>
            <a id="reset" href="#" data-role="button" data-icon="refresh">Reset</a>
        </div>

        <div id="base-content" data-role="content">
            <div class="ui-grid-solo">
                <div class="ui-block-a pageview waterview">
                    <div class="ui-overlay">
                        <img class="helptext macromap" src="/site_media/img/help/help_risingwater_map.png" />
                        <img class="helptext pageview" src="/site_media/img/help/help_risingwater_interactive.png" />
                    </div>
                    
                    <img class="inset active" src="/site_media/img/water/1.png" alt="macromap" data-idx="1" />
                    <img class="inset" src="/site_media/img/water/2.png" alt="macromap" data-idx="2" style="display: none;"/>
                    <img class="inset" src="/site_media/img/water/3.png" alt="macromap" data-idx="3" style="display: none;"/>
                    <img class="inset" src="/site_media/img/water/4.png" alt="macromap" data-idx="4" style="display: none;"/>
                    <img class="inset" src="/site_media/img/water/5.png" alt="macromap" data-idx="5" style="display: none;"/>
                
                    <input type="vrange" name="water" id="water"
                        data-highlight="true" min="0" max="100"
                        style="display: none;" />
                </div>
            </div>
        </div>
        
        <div data-role="footer"></div>
    </div>
    
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/util.js" /></script>    
    <script type="text/javascript">
        var gEaseOut = 1000;
        var gEaseIn = 1600;
        var ignoreChange = false;
        
        function getWaterLevel(imgIdx) {
            if (imgIdx === undefined) {       
                var elt = jQuery("img.inset.active")[0];
                imgIdx = parseInt(jQuery(elt).data("idx"), 10);
            }
            
            var defaultLevel, rise;
            if (getOrientationLabel() == "landscape") {
                defaultLevel = 50;
                rise = defaultLevel - ((imgIdx - 1) * 8);
            } else {
                defaultLevel = 50;
                var rise = defaultLevel - ((imgIdx - 1) * 20);
            }
            return rise;          
        }

        function setWaterLevel(imgIdx, duration) {
            ignoreChange = true;
            jQuery("#water").attr("value", getWaterLevel(imgIdx));
            jQuery("#water").trigger("change");
            ignoreChange = false;
        }
        
        function swapImages(elt, newIdx) {
            var newElt = jQuery("img.inset[data-idx='" + newIdx + "']")[0];
            jQuery(newElt).addClass("active").fadeIn(gEaseOut);
            jQuery(elt).removeClass("active").fadeOut(gEaseIn);
        }
        
        function adjustMacroMap() {
            var value = jQuery("#water").attr("value");
            
            var elt = jQuery("img.inset.active")[0];
            imgIdx = parseInt(jQuery(elt).data("idx"), 10);
            var currentRise = getWaterLevel(imgIdx);
            
            if (value < currentRise && imgIdx > 1) {
                var newIdx = imgIdx - 1;
                swapImages(elt, newIdx);
            } else if (value > currentRise) {
                var newIdx = (imgIdx + 1) % (gImageCount + 1);
                if (imgIdx < gImageCount && newIdx > 0) {
                    var nextRise = getWaterLevel(newIdx);
                    if (value >= nextRise) {
                        swapImages(elt, newIdx);
                    }
                }
            }
        }
    
        jQuery(document).on("pageinit", function (event) {
            if (getCookie("water-help-viewed")) {
                jQuery("div.ui-overlay").hide();
            }
            jQuery("div.ui-overlay").bind("tap", function() {
                jQuery("div.ui-overlay").hide();
                setCookie("water-help-viewed", true);
            });
            
            function stopScrolling(evt) {
                if (evt.target.className !== "inset active" &&
                        evt.target.parentElement.className !== "ui-btn-inner") {
                    evt.preventDefault();
                }
            }
            document.addEventListener('touchstart', stopScrolling, false);
            document.addEventListener('touchmove', stopScrolling, false);
            
            jQuery("#water").verticalslider();
            setWaterLevel(1);
            
            jQuery("#water").bind("change", function() {
                //if (!ignoreChange) {
                //    adjustMacroMap();
                //}
            });
            
            jQuery("img.inset").click(function(event) {
                event.preventDefault();
                var elt = jQuery("img.inset.active")[0];
                imgIdx = parseInt(jQuery(elt).data("idx"), 10);
                
                var newIdx = (imgIdx + 1) % (gImageCount + 1);
                
                if (imgIdx < gImageCount && newIdx > 0) {
                    var newElt = jQuery("img.inset[data-idx='" + newIdx + "']")[0];
                    jQuery(newElt).addClass("active").fadeIn(gEaseOut);
                    jQuery(elt).removeClass("active").fadeOut(gEaseIn);
                    setWaterLevel(newIdx, gEaseIn);
                }
                return false;
            });
            
            jQuery(window).bind("orientationchange", function (e, ui) {
                document.body.scrollTop = document.documentElement.scrollTop = 0;
                setWaterLevel();             
            });
            
            jQuery("#reset").click(function() {
                jQuery("img.inset").hide().removeClass("active");
                jQuery("img.inset[data-idx='1']").addClass("active").show();
                setWaterLevel(1);
            });
        });
    </script>
{% endblock %}


